// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

h1 
        text-align center
        line-height 1em
        font-size 2em

h2
    font-size 1.5em
    line-height 1em

.home
    .hero 
        img 
            max-height 300px

.image-shell
        text-align center
        margin-top 0
        img
            max-height 300px;
        
.content
    img 
        max-height 280px
    p.btn
        text-align :center

        a.action-button
            color: #ffffff !important
            background-color :#3eaf7c
            padding 0.8rem 1.6rem
            border-radius: 4px
            margin 10px auto 
            display inline-block
        a.action-button:hover
            text-decoration none !important
            background-color #30825d

@media screen and (min-width: 700px)
    h1 
        font-size 3.2em
        letter-spacing -1px
    h2
        font-size 2em
     img 
        max-height 350px

    .image-shell
        text-align center
        margin-top 0
        img
            max-height 350px;
    .home
        .hero 
            img 
                max-height 350px


